{% extends 'base_dashboard.html.twig' %}

{% block title %}Keyword index{% endblock %}
{% if app.request.get('page') %}
    {% set current_page = app.request.get('page') %}
{% else %}
    {% set current_page = 1 %}
{% endif %}

{% block body %}
    <h1>Keyword index</h1>

    <div
        {{ stimulus_controller('symfony/ux-swup/swup', {
            containers: ['#swup'],
            animateHistoryBrowsing: true,
            cache: true,
            linkSelector: '.page-link',
            theme: 'slide'
        }) }}
        id="swup"
    >
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for keyword in keywords %}
                <tr>
                    <td>{{ keyword.id }}</td>
                    <td>{{ keyword.name }}</td>
                    <td>{{ keyword.slug }}</td>
                    <td>
                        <a href="{{ path('dashboard_keyword_show', {'id': keyword.id}) }}">show</a>
                        <a href="{{ path('dashboard_keyword_edit', {'id': keyword.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="{{ path('dashboard_keyword_index')~'?page='~(current_page-1) }}">Previous</a>
                    </li>
                    {% for i in 1..pages %}
                        <li class="page-item{% if i == current_page %} active{% endif %}">
                            <a class="page-link" href="{{ path('dashboard_keyword_index')~'?page='~i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('dashboard_keyword_index')~'?page='~(current_page+1) }}">Next</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
    <a href="{{ path('dashboard_keyword_new') }}">Create new</a>
{% endblock %}
